In [1]:
import pandas as pd
import numpy as np

In [2]:
csv_path = "PyPoll/Resources/election_data.csv"

pypoll = pd.read_csv(csv_path)

pypoll.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [3]:
votercount = pypoll["Voter ID"].count()

votercount

3521001

In [4]:
candidate_list = pypoll["Candidate"].unique()

candidate_list

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [5]:
test = pypoll.groupby("Candidate")

test.first()

           Voter ID County
Candidate
Correy     17444633  Marsh
Khan       12864552  Marsh
Li         19014606  Marsh
O'Tooley   18121503  Bamoo

In [6]:
khan = test.get_group("Khan").count()
correy = test.get_group("Correy").count()
li = test.get_group("Li").count()
otooley = test.get_group("O'Tooley").count()

khan, correy, li, otooley

(Voter ID    2218231
 County      2218231
 dtype: int64, Voter ID    704200
 County      704200
 dtype: int64, Voter ID    492940
 County      492940
 dtype: int64, Voter ID    105630
 County      105630
 dtype: int64)

In [7]:
print(khan["Voter ID"])

Vote_Counts = khan["Voter ID"] , correy["Voter ID"] , li["Voter ID"] , otooley["Voter ID"]

2218231

In [8]:
Vote_Counts

(2218231, 704200, 492940, 105630)

In [10]:
percentages = Vote_Counts/votercount
percentages

array([0.63000011, 0.19999994, 0.13999996, 0.02999999])

In [11]:
candidate_votes = pypoll["Candidate"].value_counts()
candidate_votes

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [12]:
percentages_final = candidate_votes/votercount
percentages_final

Khan        0.63
Correy      0.20
Li          0.14
O'Tooley    0.03
Name: Candidate, dtype: float64

In [13]:
percentages_final_foreal = round(percentages_final*100, 2)

In [14]:
percentages_final_foreal

Khan        63.0
Correy      20.0
Li          14.0
O'Tooley     3.0
Name: Candidate, dtype: float64

In [15]:
Election Results
-------------------------
Total Votes: 3521001
-------------------------
Khan: 63.000% (2218231)
Correy: 20.000% (704200)
Li: 14.000% (492940)
O'Tooley: 3.000% (105630)
-------------------------
Winner: Khan
-------------------------

SyntaxError: invalid syntax (<ipython-input-15-73dc0c589bbf>, line 1)

In [17]:
percentages_final_foreal[1]

20.0

In [22]:
print("Election Results")
print("----------------")
print("Total Votes: {votercount}")
print("----------------")
print(f"Khan: {percentages_final_foreal[0]}% with a total of {candidate_votes[0]} votes")
print(f"Correy: {percentages_final_foreal[1]}% with a total of {candidate_votes[1]} votes")
print(f"Li: {percentages_final_foreal[2]}% with a total of {candidate_votes[2]} votes")
print(f"O'Tooley: {percentages_final_foreal[3]}% with a total of {candidate_votes[3]} votes")
print("----------------")
print("Winner: Khan")
print("----------------")

Election Results
----------------
Total Votes: {votercount}
----------------
Khan: 63.0% with a total of 2218231 votes
Correy: 20.0% with a total of 704200 votes
Li: 14.0% with a total of 492940 votes
O'Tooley: 3.0% with a total of 105630 votes
----------------
Winner: Khan
----------------