In [1]:
import pandas as pd
import locale
from pandas import DataFrame

In [2]:
csv_path = "PyBank/Resources/budget_data.csv"

pybank = pd.read_csv(csv_path)

pybank.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [3]:
total_months = pybank["Date"].count()

total_months

86

In [4]:
total = pybank["Profit/Losses"].sum()

total

38382578

In [5]:
py_bank_max = pybank["Profit/Losses"].diff().max()

py_bank_max

1926159.0

In [6]:
py_bank_min = pybank["Profit/Losses"].diff().min()

py_bank_min

-2196167.0

In [7]:
average_change = (py_bank_max-py_bank_min)/total_months

average_change

47934.023255813954

In [8]:
profit_loss_diff = pybank["Profit/Losses"].diff().mean()

profit_loss_diff

-2315.1176470588234

In [9]:
pybank.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [10]:
locale.setlocale( locale.LC_ALL, '')
locale.currency(profit_loss_diff)

'($2315.12)'

In [11]:
pybank["Difference"] = pybank["Profit/Losses"].diff()

In [12]:
greatest_increase = pybank.loc[pybank["Difference"] == py_bank_max, "Date"]
greatest_increase_period = greatest_increase.iloc[0]
greatest_increase_period

'Feb-2012'

In [13]:
greatest_decrease = pybank.loc[pybank["Difference"] == py_bank_min, "Date"]
greatest_decrease_period = greatest_decrease.iloc[0]
greatest_decrease_period

'Sep-2013'

In [ ]:
Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)

In [16]:
print("Financial Analysis")
print("----------------------")
print(f"Total Months: {total_months}")
print(f"Total: ${total}")
print(f"Average Change: ${round(profit_loss_diff,2)}")
print(f"Greatest Increase in Profits: {greatest_increase_period} ${py_bank_max}")
print(f"Greatest Decrease in Profits: {greatest_decrease_period} ${py_bank_min}")

Financial Analysis
----------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 $1926159.0
Greatest Decrease in Profits: Sep-2013 $-2196167.0